ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080
MongoDb__ConnectionString=mongodb+srv://watchlist:replace-on-proxmox-vm@replace-on-atlas.mongodb.net/watchlist?retryWrites=true&w=majority
MongoDb__DatabaseName=watchlist
MongoDb__WatchlistItemsCollectionName=watchlist_items
MongoDb__SyncRunsCollectionName=sync_runs
MongoDb__PlexLibraryItemsCollectionName=plex_library_items
Letterboxd__WatchlistUrl=https://letterboxd-list-radarr.onrender.com/example-user/watchlist
Tmdb__AccessToken=replace-on-proxmox-vm
Tmdb__BaseUrl=https://api.themoviedb.org/3
Tmdb__ImageBaseUrl=https://image.tmdb.org/t/p
Plex__BaseUrl=http://192.168.50.20:32400
Plex__Token=replace-on-proxmox-vm
