ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080
MongoDb__ConnectionString=CHANGE_ME_ATLAS_CONNECTION_STRING
MongoDb__DatabaseName=watchlist
MongoDb__WatchlistItemsCollectionName=watchlist_items
MongoDb__SyncRunsCollectionName=sync_runs
MongoDb__PlexLibraryItemsCollectionName=plex_library_items
MongoDb__TraktConnectionsCollectionName=trakt_connections
MongoDb__TvShowsCollectionName=tv_shows
MongoDb__TvLifecycleEventsCollectionName=tv_lifecycle_events
MongoDb__TvSyncManifestsCollectionName=tv_sync_manifests
Letterboxd__WatchlistUrl=https://letterboxd-list-radarr.onrender.com/example-user/watchlist
Tmdb__AccessToken=
Tmdb__BaseUrl=https://api.themoviedb.org/3
Tmdb__ImageBaseUrl=https://image.tmdb.org/t/p
Tmdb__ProviderRegion=PL
Tmdb__OwnedProviderIds__0=119
Tmdb__OwnedProviderIds__1=1899
Tmdb__OwnedProviderIds__2=1773
Tmdb__ProviderCacheLifetime=1.00:00:00
Trakt__ClientId=
Trakt__ClientSecret=
DataProtection__KeyRingPath=/var/lib/watchlist/keyring
Plex__BaseUrl=http://192.168.50.20:32400
Plex__Token=

TRAKT_HISTORY_SYNC_APPLY=false
TV_SYNC_APPLY=false
TV_SYNC_ADOPT_EXISTING_DESTINATIONS=false
TV_SYNC_ALLOW_SEASON_FILE_DELETION=false
TV_SYNC_ALLOW_TERMINAL_SERIES_DELETION=false
TV_SYNC_ALLOW_NO_RECYCLE_BIN_DELETE=false
